.article {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}
.login h1 {
  text-transform: uppercase;
  font-weight: 500;
}
.login {
  width: 340px;
  padding: 47px;
  background: #f2f2f2;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 4px 4px 10px #dbdbdb, -4px -4px 10px #ffffff !important;
}
.submit {
  background-color: #1976d2 !important;
  box-shadow: none !important;
}
.error {
  font-size: 13px;
  font-weight: 500;
  color: #d32f30;
}
