@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  display: none;
}

code {
  font-family: "Roboto", sans-serif;
}
#root {
  background-color: #fff;
}
article {
  min-height: 100vh;
}

.c_box {
  border: 7px solid #bbb;
  border-radius: 20px;
  overflow: hidden;
  background-color: #254970;
}
